<ul class="notices">
    {% for notice in notices %}
        <li class="notice">
            <div class="notice-date">
                {{ moment(notice.timestamp).format('YYYY年M月D日') }}
            </div>
            <div class="profile-thumbnail">
                <div class="notice-author">
                    {{ notice.author.username }}
                </div>
            </div>
            <div class="notice-body" style="color: #333333">
                <h4>{{ notice.body }}</h4>
            </div>
            <a href="{{ url_for('main.delete_notice',id=notice.id) }}"><span class="glyphicon glyphicon-trash"
                                                                             aria-hidden="true"></span></a>
        </li>
        <hr>
    {% endfor %}
</ul>