{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block container_content %}
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" {% if resource_class=='profession' %}class="active"{% endif %}><a href="{{ url_for('main.resource',resource_class='profession') }}">专业技能</a></li>
                <li role="presentation" {% if resource_class=='tool' %}class="active"{% endif %}><a href="{{ url_for('main.resource',resource_class='tool') }}">工具大全</a></li>
                <li role="presentation" {% if resource_class=='other' %}class="active"{% endif %}><a href="{{ url_for('main.resource',resource_class='other') }}">其他</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <a href="{{ url_for('main.edit_resource') }}" class="btn btn-default btn_add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
            </a>
            <ul class="notices">
                {% for resource in resources %}
                    <li class="notice">
                        <div class="notice-date">
                            {{ moment(resource.timestamp).fromNow() }}
                        </div>
                        <div class="profile-thumbnail">
                            <div class="notice-author">
                                {{ resource.author.username }}
                            </div>
                        </div>
                        <div class="notice-body" style="color: #333333">
                            <h4>{{ resource.body }}</h4>
                        </div>
                        <div class="notice-body" style="color: #333333">
                            <a href="{{ resource.link }}" target="_blank">{{ resource.link }}</a>
                        </div>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
            {% if pagination and resource_class=='profession' %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination,'.resource',resource_class='profession') }}
                </div>
            {% endif %}
            {% if pagination and resource_class=='tool' %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination,'.resource',resource_class='tool') }}
                </div>
            {% endif %}
            {% if pagination and resource_class=='other' %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination,'.resource',resource_class='other') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}